---
import LayoutSidebar from '../../app/LayoutSidebarTeacher.astro';
import FormUpload from '../../modules/FormUpload.astro';
---

<LayoutSidebar>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormUpload />
	</div>
</LayoutSidebar>
