# Build output
dist/

# Generated types from Astro
.astro/

# Dependency directories
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
logs/

# Environment variable files
.env
.env.production

# macOS-specific system files
.DS_Store

# Miscellaneous files
.dev*

# Specific configuration files
db.js
openAiConfig.js
azureConfig.js
