---
import LayoutSidebar from '../../../app/LayoutSidebarStudent.astro';
import Flashcard from '../../../modules/Flashcard.astro';
---

<LayoutSidebar>
	<div class="min-h-screen align-middle flex pb-[12vh]">
	<Flashcard />
	</div>
</LayoutSidebar>
