---
---
<div id="flashcard-result" class="w-full hidden flex flex-col items-center justify-center px-6 pt-8 mx-auto pt:mt-0 dark:bg-gray-900">
  <!-- Überschrift -->
  <div class="text-center mb-8">
    <h2 id="flashcard-result-header" class="text-4xl font-bold text-gray-900 dark:text-white">Loading...</h2>
  </div>

  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
    <!-- Modal content -->
    <div id="flashcard-result-modal" class="relative p-6 bg-white rounded-xl shadow-lg dark:bg-gray-800 sm:p-7 m-4">
      <!-- Modal header -->
      <div class="flex justify-between items-center pb-4 mb-5 rounded-t border-b dark:border-gray-600">
        <h3 id="flashcard-result-caption" class="text-xl font-semibold text-gray-900 dark:text-white">
          Loading...
        </h3>
      </div>
      <!-- Modal body -->
			<div class="grid gap-4 mb-4 sm:grid-cols-1 overflow-hidden">
				<div class="mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
					<label for="flashcard-result-questionText" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Question: <span id="questionID"></span></label>
					<span id="flashcard-result-questionText" class="text-lg font-semibold text-gray-900 dark:text-white">Loading...</span>
				</div>
				<div class="mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
					<label for="flashcard-result-intendedAnswerText" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Intended Answer:</label>
					<span id="flashcard-result-intendedAnswerText" class="text-lg font-semibold text-gray-900 dark:text-white">Loading...</span>
				</div>
				<div class="mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
					<label for="flashcard-result-userAnswerText" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Your Answer:</label>
					<span id="flashcard-result-userAnswerText" class="text-lg font-semibold text-gray-900 dark:text-white ">Loading...</span>
				</div>
			</div>
		</div>
	</div>
			<div class="flex items-center space-x-4">
				<button type="button" id="next-flashcard-button" class="hidden text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 flex items-center justify-center">
					<div id="flashcard-result-loading-indicator" class="hidden mr-2 flex space-x-1">
						<div class='h-1.5 w-1.5 bg-white rounded-full animate-bounce'></div>
						<div class='h-1.5 w-1.5 bg-white rounded-full animate-bounce [animation-delay:-0.15s]'></div>
						<div class='h-1.5 w-1.5 bg-white rounded-full animate-bounce [animation-delay:-0.3s]'></div>
					</div>
					Next Flashcard
				</button>
			</div>
		</form>
	</div>
</div>
</div>

<script src="./Flashcard.js"></script>	

