---

// Frontmatter Script-Bereich in Astro
let showPopup = false;
// Prüfen, ob der Benutzer das Popup bereits gesehen hat
if (typeof window !== 'undefined') {
  showPopup = !localStorage.getItem('popupShown');
  if (showPopup) {
    localStorage.setItem('popupShown', 'true');
  }
}
---

<div
	class="bg-gradient-to-r from-slate-100 to-slate-200 dark:from-slate-900 dark:to-slate-800 text-slate-800 dark:text-slate-100 mb-20 p-4 lg:p-16 shadow-xl shadow-slate-200 dark:shadow-slate-900"
>
	<header
		class="p-8 flex justify-center items-center flex-wrap flex-col w-full mt-16"
	>
	<div class="flex justify-center w-full ">
		<img src='/static/images/felogo_rework.png' alt="FE Logo" class="w-48 h-48 hidden dark:block" />
		<img src='/static/images/felogo_rework.png' alt="FE Logo" class="w-48 h-48 invert  dark:hidden" />

	  </div>

		<div class="format dark:format-invert lg:format-lg mt-32">
			<p class="text-4xl lg:text-8xl dark:text-slate-200 text-slate-600 leading-tight text-center">
				Welcome to <a
					rel="noopener nofollow"
					class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-violet-800 dark:from-emerald-500 dark:to-purple-700 no-underline"
					>Futurist-Edu</a>
				<br />
			</p>

			<div class="format dark:format-invert lg:format-lg mt-32">
				<p class="text-xl lg:text-xl dark:text-slate-200 text-slate-600 leading-tight text-center">
					To simplify the testing / judging process, I did not implement the Login via EntraID. In a real usage scenario, students and teachers could log in to this website
					via their usual Microsoft accounts, just like they use them for Microsoft Teams etc. You can simply swap between the teachers view and students view, with the two buttons below.<br> Thank you for visting <a
						rel="noopener nofollow"
						class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-violet-800 dark:from-emerald-500 dark:to-purple-700 no-underline"
						>Futurist-Edu</a>
					<br />
				</p>
		
			<div class="flex justify-center space-x-5 w-full">
				<a
					href="/teacher"
					type="button"
					class="text-blue-800 hover:text-white border  border-blue-700 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-100 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800"
					>Teachers View</a>
					<a
					href="/student"
					type="button"
					class="text-blue-800 hover:text-white border border-blue-700 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-100 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800"
					>Students View</a>
			</div>
		</div>
	</header>
</div>
<div id="popup" style={`display: ${true ? 'block' : 'none'}`}>
<div id="info-popup" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
	<div class="relative p-4 w-full max-w-lg h-full md:h-auto">
		<div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 md:p-8">
			<div class="mb-4 text-sm font-light text-gray-500 dark:text-gray-400">
				<h3 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">Project Website</h3>
				<p>
					This Website is my submission for the Devpost Microsoft AI Classroom Hackathon. Only the Judges of said Hackathon are meant to access this website.
					Also, please give the DB a few seconds to start, as it needs some time to launch.
				</p>
			</div>
			<div class="justify-between items-center pt-0 space-y-4 sm:flex sm:space-y-0">
				<a href="https://microsoftaiclassroom.devpost.com/" class="font-medium text-primary-600 dark:text-primary-500 hover:underline">About the Hackathon</a>
				<div class="items-center space-y-4 sm:space-x-4 sm:flex sm:space-y-0">
					<button id="close-modal" type="button"  class="py-2 px-4 w-full text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 sm:w-auto hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancel</button>
					<button id="confirm-button" type="button" class="py-2 px-4 w-full text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-auto hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Confirm</button>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>

<script>
	import './LandingReadMe.client.js';
</script>

<style>
	/* Override in Markdown H1 title */
	.readme :global(h1:nth-of-type(2)) {
		display: none;
	}

	.svg-inline :global(svg) {
		height: 100%;
		width: 100%;
	}
</style>

