---
import LayoutSidebar from '../app/LayoutSidebarTeacher.astro';
import FormEditFlashcards from '../modules/FormEditFlashcards.astro';
---

<LayoutSidebar>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormEditFlashcards />
	</div>
</LayoutSidebar>
